<!-- This loads of all of files that you call below from your 'static' folder -->
{% load static %}
<!--The static folder consists of your bootstrap files (.css, .js, fonts, etc)-->
<!--When you load the static folders is calls all those folders in the static files without having to code each one in individually-->

<html>
  <head>
        <!--This is the meta information which is good for SEO-->
  	    <meta charset="utf-8">
  	    <!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css" >
        <title>Seman</title>
  </head>
  <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Seman</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <h3>Semantic annotator tool </h3>
            </div>
            <div class="row" style="text-align: center">
                <div class="col-md-6">
                    <div class="btn btn-info" style="font-size: large;">
                        Annotate using trainning data
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn btn-default"  style="font-size: large;">
                        Annotate without trainning data
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-12">
                     <h2>Start annotation </h2>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#textannotation" >Annotate a text</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#fileannotation" role="tab" >Annotate from a text</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade  in active" id="textannotation">
                            text
                        </div>
                        <div class="tab-pane fade" id="fileannotation">
                            file
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>